* {
  box-sizing: border-box;
}

body {
  background-color: $background-color;
  color: $mid-light-gray;
  font-family: 'Roboto', sans-serif;
  min-width: 450px;
  overflow: scroll;
}
.main-container {
  margin-left: $sidebar-width;
  padding-top: $navbar-height;

  @media(max-width: $mobile-max-width) {
    margin-left: 0;
  }
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container-fluid {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.content-box {
  border: 1px solid $light-gray;
  background-color: $white;
  margin-top: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width:100%;

  .content-block {
    padding: 20px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.justify-content-center {
    justify-content: center;
    display: flex;
    width: 100%;
}

.styleguide {
  margin: 20px;
}


@media(max-width: $mobile-max-width) {
  @include grid('sm');
}

@media(min-width: $tablet-min-width) {
  @include grid('md');
}

@media(min-width: $tablet-lg-min-width) {
  @include grid('lg');
}

@media(min-width: $desktop-min-width) {
  @include grid('xl');
}