.btn {
	display: inline-flex;
    font-weight: 400;
    height: 42px;
    border: 1px solid transparent;
    font-size: 18px;
    border-radius: .25rem;
}

.btn-standard {
	color: #FFF;
	background-color: #f58220;
	padding: 0 1.5rem;
}

.btn-repeat {
	background-color: #f58220;
	margin-left: 15px;
	padding: .75rem;

	svg {
		fill: #FFF;
		height: 17px;
	}
}

.btn-modal {
	background-color: #979797;
	color: #FFF;
	padding: 0 20px;
	float: right;
	margin: 0 20px;
}

.btn-modal-quit {
	background-color: #f58220;
	padding: 0 30px;
	margin-right: -10px;

}
