.btn {
	color: #FFF;
	display: inline-flex;
    font-weight: 400;
    height: $btn-height;
    border: 1px solid transparent;
    font-size: $btn-font-size;
    border-radius: .25rem;
    &:hover {
    	cursor: pointer;
    }
}

.btn-standard {
	background-color: #f58220;
	padding: 0 1.5rem;
}

.btn-repeat {
	background-color: #f58220;
	margin-left: 15px;
	padding: .75rem;

	svg {
		fill: #FFF;
		height: 17px;
	}
}

.btn-modal {
	background-color: #979797;
	color: #FFF;
	text-align: center;
	justify-content: center;
	width: 100%;
}

.btn-submit {
	background-color: #f58220;
	text-align: center;
	justify-content: center;
	width: 100%;
}

.btn-modal-quit {
	background-color: #f58220;
}

.bg-black {
	background-color: $black;
}

.bg-dark-orange {
	background-color: $dark-orange;
}

.bg-coral {
	background-color: $coral;
}

.bg-dark-gray {
	background-color: $gray;
}

.bg-orange {
	background-color: $orange;
}

.bg-light-coral {
	background-color: $light-coral;
}

.bg-gray {
	background-color: $gray;
}

.bg-green {
	background-color: $green;
}

.bg-blue {
	background-color: $blue;
}

.bg-light-gray {
	background-color: $light-gray;
}

.bg-dark-green {
	background-color: $dark-green;
}

.bg-red {
	background-color: $red;
}

.bg-silver {
	background-color: $silver;
}

.bg-sea-green {
	background-color: $sea-green;
}
