.form-group {
	padding: 8px;

	.col-form-label {
    padding-top: calc(.375rem + 1px);
    padding-bottom: calc(.375rem + 1px);
    width: 150px;
    font-weight: 800;
}

	.form-control {
	    width: 100%;
	    height: calc(2.25rem + 2px);
	    padding: .375rem .75rem;
	    border: 1px solid #ced4da;
	    border-radius: .25rem;
	}	
}
