.form-group {
	padding: 8px;

	.col-form-label {
    padding-top: calc(.375rem + 1px);
    padding-bottom: calc(.375rem + 1px);
    width: 150px;
    font-weight: 800;
}

	.form-control {
	    width: 100%;
	    height: calc(2.25rem + 2px);
	    padding: .375rem .75rem;
	    border: 1px solid #ced4da;
	    border-radius: .25rem;
	}
}

.form-input {
	width: 100%;
	border-radius: 3px;
	border: 1px solid #e3e3e3;
	float: left;
	line-height: 40px;

	&.date-period {
		width: auto;
	}

	.first-date {
		width: 50%;
		text-align: center;
	}

	.second-date {
		width: calc(50% - 55px);
		text-align: center;
	}

	& input {
		border: none;
		text-align: left;
		padding: 5px;
		width: 50%;
	}

	.border-right {
		border-right: 1px solid #e3e3e3;
	}

	& img {
		display: inline-block;
		height: 13px;
		line-height: 13px;
		padding-right: 15px;
		padding-left: 15px;
	}
}

