
.links {
	width: 190px;
	height: 15px;
	color: $links-color;
	font-family: $links-font;
	font-size: $links-font-size;
	font-weight: 300;
	line-height: 17px;
	text-decoration: none;
	&:hover {
		color: $links-hover-color;
		font-family: $links-hover-font;
		font-size: $links-font-size;
	}
}


