a {
  text-decoration: none;
}

.links {
	width: 190px;
	height: 15px;
	color: $links-color;
	font-family: $links-font;
	font-size: $links-font-size;
	font-weight: 300;
	line-height: 17px;
	&:hover,
	&.links-active {
		color: $dark-orange;
		font-family: $links-hover-font;
		font-size: $links-font-size;
	}
}


