.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border: 1px solid $light-gray;
  position: fixed;
  width: calc(100% - #{$sidebar-width});
  top: 0;
  background-color: $white;
  height: $navbar-height;
  z-index: 1;

  svg {
    width: 17px;
    fill: #9c9c9c;

  }

  .wallet, .profile, .quit, .notification {
    border-left: 1px solid $light-gray;
    text-align: center;
    line-height: $navbar-height;

    .navbar-icons {
      position: relative;
      display: inline-block;
      top: 3px;
    }
  }

  .profile {
    width: 200px; 

    a {
      text-decoration: none;
      color: #56819f;
      font-size: 13px;
      font-weight: 300;
      margin-left: 10px;

      &:hover {
          color: #f58220;
        }
    }
  } 

  .wallet {
    width: 200px;

    span {
      font-size: 20px;
      font-weight: 600;
      margin: 0 10px;
    }

    .arrow-down {
      width: 11px;
      height: 12px;
    }
  }

  .notification, .quit {
    width: 60px;

    .badge:after {
      content: "";
      position: absolute;
      top: 1rem;
      left: 10;
      line-height: 2rem;
      width: 9px;
      height: 8px;
      border-radius: 50%;
      background-color: #f58220;
    }
  }

  /* When the screen is less than 600 pixels wide */
  @media screen and (max-width: $mobile-max-width) {
    display: none;
  }
}
