.logo {
  padding: 20px;
}

.header-chart {
	margin-left: 16.66%;
	padding: 20px 20px 0 20px;
	font-size: 16px;
	font-weight: 700;
	width: 100%;
}

.graph {
	canvas {
	margin:0 auto;
    display:block;
    width: 100%;
    max-width: 700px;
    height: 300px;
	}
}